@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    background-color: #333333;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: auto;

}

/*content*/
.content-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.title {
    font-weight: 400;
    font-size: 4vh;
    color: white;
    text-align: center;
    margin-top: 4vh;
    user-select: none;
}

/* grid */
.grid-container {
    display: grid;

    box-shadow: 5px 5px 10px;
    border: 2px solid black;

    margin-left: auto;
    margin-right: auto;

    grid-gap: 0;
}

.grid-elem {
    margin: 0;
    user-select: none;
}

/* options*/
.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1vw;

}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-container h3 {
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.btn {
    height: 5vh;
    min-height: 40px;
    width: 15vw;
    min-width: 100px;

    border: 2px solid black;
    border-radius: 8px;

    font-size: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    accent-color: #F55050;
}

.slider-title {
    user-select: none;
}

@media (hover: hover) {
    .btn:hover {
        background-color: #999999;
    }
}

/* accommodate small width mobile phones */
@media only screen and (max-width: 800px) {
    .grid-container {
        height: 70vw;
        width: 70vw;
    }
}

@media only screen and (min-width: 800px) {
    .grid-container {
        height: 564px;
        width: 564px;
    }
}